<div class="md_dashboard">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="open = !open" aria-label="Settings">
                <md-icon>list</md-icon>
            </md-button>
            <h3>
            <span>
                NewCompanyGroup
            </span>
            </h3>
        </div>
    </md-toolbar>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left"
                    md-component-id="left"
                    md-whiteframe="4"
                    md-is-locked-open="open">
            <md-content layout-margin>
                <md-list>
                    <md-list-item ng-repeat="dashboard in dashboards" ng-click="changeDashboard(this)">
                        <p>{{dashboard.name}}</p>
                        <md-button ng-click="addWidget(this)" class="md-icon-button">
                            <md-icon>add</md-icon>
                        </md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container>
                            <label>New dashboard</label>
                            <input>
                        </md-input-container>
                        <md-button ng-click="addWidget(this)" class="md-icon-button">
                            <md-icon>add</md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <div gridster="gridsterOptions">
                <ul>
                    <li gridster-item="widget" ng-repeat="widget in dashboards[dashboardId].widgets">
                        <div class="box">
                            <div class="box-header">
                                <h3>{{widget.name}}</h3>
                                <div class="setting-icons">
                                    <md-button ng-click="download(widget)"
                                               class="material-icons">file_download
                                    <md-tooltip md-direction="top">Download</md-tooltip>
                                    </md-button>
                                    <md-button ng-click="removeWidget(dashboards[dashboardId].widgets, $index)"
                                               class="material-icons">clear
                                    <md-tooltip md-direction="top">Remove widget</md-tooltip>
                                    </md-button>
                                </div>
                            </div>
                            <md-list class="box-content">
                                <md-list-item ng-repeat="item in widget.items" class="md-1-line"
                                              ng-click="markReading(this)" ng-class="item.class">
                                    <span flex>
                                        {{item.value}}
                                    </span>
                                    <span>
                                        {{item.date}}
                                    </span>
                                </md-list-item>
                            </md-list>
                        </div>
                    </li>
                </ul>
            </div>
        </md-content>
    </section>
</div>