<div class="md_dashboard">
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="open = !open" aria-label="Settings">
                <md-icon>list</md-icon>
            </md-button>
            <h3>
            <span>
                NewCompanyGroup
            </span>
            </h3>
        </div>
    </md-toolbar>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left"
                    md-component-id="left"
                    md-whiteframe="4"
                    md-is-locked-open="open">
            
            <md-content layout-margin>

            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <!--<div gridster="gridsterOpts">-->
                <!--<ul>-->
                    <!--<li style="border: solid 1px;"gridster-item="item" ng-repeat="item in standardItems">-->
                        <!--<div class="ddd" style="width: 100%; background: #ddd; padding: 10px 0px">Handle</div>-->
                        <!--{{ item }}-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        </md-content>
    </section>
</div>